$width-menos: 2%;
$width-img: calc(50% - $width-menos * 2);
$width-div-presentacion: calc(50% + $width-menos * 1);
$border-radius-img: 50%;
$width-img-tablet: 40vw;
$width-img-mobile: 50vw;
$width-min-mobile: 240px;

.aboutMe {
  height: calc(100vh - 72px);
  align-items: center;
  display: flex;
  flex-direction: column;

  .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1160px !important;
    margin: auto;
    padding: 0 32px;

    .presentacion {
      width: $width-div-presentacion;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;

      .titulo-subtitulo {
        width: 100%;

        h1 {
          color: var(--color-de-titulos);
          margin: 0;
          font-size: 64px;
        }

        .subtitulo {
          width: 100%;
          height: fit-content;
          min-height: 160.78px;

          h2 {
            color: #990fea;
            margin: 0;
            font-size: 64px;
            display: inline;
          }
        }
      }

      .descripcion {
        p {
          color: var(--color-de-texto-gris-uno);
          margin: 0;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .img {
      width: $width-img;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: auto;
        border-radius: $border-radius-img;
        position: relative;
        z-index: 1;

        box-shadow: 0 0 12px #990fea, 0 0 24px rgba(153, 15, 234, 0.7),
          0 0 36px rgba(153, 15, 234, 0.4), 0 6px 20px #13111c;
        border: 2px solid #990fea;
        cursor: default;
        pointer-events: none;
      }
    }

    .botones-de-accion {
      display: none;
    }
  }

  .borde-superior-skills {
    height: 100px;
    width: 100%;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    background-color: var(--color-de-fondo-body);
  }
}

@media (max-width: 1023px) {
  .aboutMe {
    background-image: var(--gradiente-de-header);
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;

    .contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 32px;

      .presentacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        padding-top: 2%;

        .titulo-subtitulo {
          width: 100%;
          margin-bottom: 6%;

          .titulo {
            h1 {
              font-size: clamp(32px, 6vw, 64px);
              line-height: 1.25;
            }
          }

          .subtitulo {
            width: 100%;
            height: fit-content;
            min-height: auto;

            h2 {
              line-height: 1.25;
              font-size: clamp(32px, 6vw, 64px);
            }
          }
        }

        .descripcion {
          width: 100%;
          margin-bottom: 14%;

          p {
            font-size: 20px;
          }
        }
      }
    }

    .borde-superior-skills {
      height: 100px;
      width: 100%;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
      background-color: var(--color-de-fondo-body);
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .aboutMe {
    .contenedor {
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $width-img-tablet;
        img {
          transform: translateY(-4vw);
        }
      }
    }
  }
}

@media (min-width: 469px) and (max-width: 767px) {
  .aboutMe {
    background-image: var(--gradiente-de-header);

    .contenedor {
      padding: 0 20px;

      .presentacion {
        .titulo-subtitulo {
          margin-bottom: -2vw;
          .subtitulo {
            height: fit-content;
            min-height: 80px;
          }
        }
      }

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $width-img-mobile;
        min-width: $width-min-mobile;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 468px) {
  .aboutMe {
    background-image: var(--gradiente-de-header);

    .contenedor {
      padding: 0 20px;

      .presentacion {
        .titulo-subtitulo {
          margin-bottom: -2vw;
          .subtitulo {
            height: fit-content;
            min-height: 80px;
          }
        }
        .descripcion {
          transform: translateY(6vw);
        }
      }

      .img {
        img {
          transform: translateY(2.5vw);
        }
        width: $width-img-mobile;
        min-width: $width-min-mobile;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 381px) and (max-width: 425px) {
  .aboutMe {
    background-image: var(--gradiente-de-header);

    .contenedor {
      padding: 0 20px;

      .presentacion {
        .titulo-subtitulo {
          margin-bottom: 6vw;
          .subtitulo {
            height: fit-content;
            min-height: 80px;
          }
        }
      }

      .img {
        display: none;
      }

      .botones-de-accion {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .boton {
          margin: 0 10px;

          .boton-de-redireccion {
            background-color: #291839;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 6px 20px;
            font-weight: 600;
            font-size: 16px;
            border: 1px solid #853bce;
            color: #853bce;

            &:hover {
              transition: 0.2s ease-in-out;
              background-color: #853bce;
              color: #291839;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .aboutMe {
    .contenedor {
      padding: 0 20px;

      .presentacion {
        .titulo-subtitulo {
          margin-bottom: 6vw;

          .titulo {
            h1 {
              font-size: 28px;
            }
          }
          .subtitulo {
            height: fit-content;
            min-height: 80px;
          }
        }

        .descripcion {
          p {
            font-size: 18px;
          }
        }
      }

      .img {
        display: none;
      }

      .botones-de-accion {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2.5vw;

        .boton {
          margin: 0 10px;

          .boton-de-redireccion {
            background-color: #291839;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 6px 20px;
            font-weight: 600;
            font-size: 16px;
            border: 1px solid #853bce;
            color: #853bce;

            &:hover {
              transition: 0.2s ease-in-out;
              background-color: #853bce;
              color: #291839;
            }
          }
        }
      }
    }

    .borde-superior-skills {
      margin-bottom: 20vw;
    }
  }
}
